


section.section {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0 auto;
    width: 40%;
    text-align: left;
    padding: 1em;
}

h1.title {
    color: brown;
    font-size: 38px;
}

a:hover {
    color: brown;
}